.slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__test {
        font-size: 1.2rem;
        transform: translateY(4.3rem);
        color: red;
    }

    &__icon {
        font-size: 8rem;
        padding-bottom: 3rem;
    }

    &__header {
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    &__container {
        display: flex;
        flex-direction: column;

        &__text {
            align-self: center;
            justify-self: center;
            padding-bottom: 3rem;
            font-size: 1.6rem;
            color: $color-blue-1;
            text-transform: capitalize;
            font-weight: 700;
        }
    }

    &__button {
        padding: 1rem 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: green;
        color: #d3d3d3;
        
        &:not(:last-child) {
            margin-right: 3rem;
        }

        &__icon {
            padding: .5rem;
            font-size: 2rem;
        }
    }
}

.button__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 50rem;  
    background: #d3d3d3;
    outline: none;
    height: .5rem;
    margin-bottom: 2rem;
    

    &::-webkit-slider-thumb {
        // -webkit-appearance: none;
        // appearance: none;
        // background: url(/img/PNG/neutral.png);
        // cursor: pointer;
        // width: 20px;
        // height: 20px;
        // background-size:20px;
        // background-position: 50%;
        // transform: translateY(-1.3rem);
        
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: black;
        border-radius: 50%;
    }
}